@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --clr-orange: hsl(26, 100%, 55%);
    --clr-pale-orange: hsl(25, 100%, 94%);
    --clr-very-dark-blue: hsl(220, 13%, 13%);
    --clr-dark-grayish-blue: hsl(219, 9%, 45%);
    --clr-grayish-blue: hsl(220, 14%, 75%);
    --clr-light-grayish-blue: hsl(223, 64%, 98%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-lightbox-bg: rgba(0,0,0,0.75);
    --ff: 'Kumbh Sans', sans-serif;
    --transition: 0.3s all linear;
}

body {
    font-size: 16px;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--ff);
    z-index: 1;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6vw 4vw;
    align-items: center;
}

header button {
    border: none;
    background-color: inherit;
}

.menu-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu, .logo, .cart, .pfp {
    margin: 0vw 2vw;
}

/* MENU START */
menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    backdrop-filter: brightness(0.25);
    width: 100vw;
    height: 100vh;
    margin: 0vw;
    padding: 0vw;
    top: 0;
    left: -2vw;
    transition: var(--transition);
    display: none;
    z-index: 100;
}

.menu-contents {
    background-color: var(--clr-white);
    height: 100vh;
    width: 65vw;
}

menu button {
    border: none;
    background-color: inherit;
    font-family: var(--ff);
    font-weight: 700;
    font-size: 1.2em;
    text-align: left;
    padding: 3vw;
}

.close-btn {
    margin: 2vw 0vw 8vw 2vw;
}

.menu-content {
    padding: 3vw 0vw 3vw 6vw
}

.menu-content:focus {
    background-color: var(--clr-light-grayish-blue);
}

.menu-options {
    display: flex;
    flex-direction: column;
}

.open {
    display: flex;
}
/* MENU END */

.cart-pfp {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-number {
    position: absolute;
    color: var(--clr-white);
    background-color: var(--clr-orange);
    font-family: var(--ff);
    font-weight: 700;
    font-size: 0.7em;
    width: 5vw;
    text-align: center;
    border-radius: 2vw;
    margin: -6vw 0vw 0vw 6vw;
    display: none;
}

/* CART CONTENTS START*/
.cart-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 96vw;
    top: 22vw;
    left: 2vw;
    background-color: var(--clr-white);
    border-radius: 3vw;
    height: 30vh;
    box-shadow: 4vw 4vw 6vw rgba(0,0,0,0.15);
    z-index: 4;
    display: none;
}

.show-cart {
    display: flex;
}

.cart-header {
    margin: 0vw;
    padding: 6vw 8vw;
    font-size: 1em;
    border-bottom: 1px solid var(--clr-grayish-blue);
    font-weight: 700;
}

.cart-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: var(--clr-dark-grayish-blue);
    font-weight: 700;
    /* display: none; */
}

.filled .cart-empty {
    display: none;
}

.filled .cart-filled {
    display: flex;
}

.cart-filled {
    display: flex;
    flex-direction: column;
    margin: 6vw;
    display: none;
}

.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-item-image {
    width: 14vw;
    height: 14vw;
    border-radius: 1vw;
}

.cart-item-text {
    margin: 0vw 3vw;
    color: var(--clr-dark-grayish-blue);
    font-weight: 400;
}

.cart-item-text-header {
    margin: 2vw 0vw;
}

.cart-item-price {
    margin: 2vw 0vw 2vw 0vw;
}

.qty-price {
    color: var(--clr-very-dark-blue);
    font-weight: 700;
}

.checkout-btn {
    font-family: var(--ff);
    color: var(--clr-white);
    padding: 4vw 0vw;
    background-color: var(--clr-orange);
    font-weight: 700;
    border-radius: 3vw;
    margin: auto;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* CART CONTENTS END */

.show-number {
    display: block;
}

.pfp img {
    width: 6vw;
    height: auto;
}

.carousel {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 35vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.shoe-img {
    width: 100vw;
    height: 35vh;
    object-fit: cover;
}

.prev-btn, .next-btn {
    position: absolute;
    background-color: var(--clr-white);
    border: none;
    border-radius: 50%;
    height: 10vw;
    width: 10vw;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.prev-btn {
    top: 50vw;
    left: 6vw;
    padding: 1vw 1vw 0vw 0vw;
}

.next-btn {
    top: 50vw;
    right: 6vw;
    padding: 1vw 0vw 0vw 1vw;
}

.img-buttons {
    display: none;
}

.text {
    margin: 0vw 6vw;
    display: flex;
    flex-direction: column;
}

.company {
    color: var(--clr-orange);
    text-transform: uppercase;
    font-size: 0.9em;
    margin: 6vw 0vw 4vw 0vw;
    font-weight: 700;
}

.name {
    color: var(--clr-very-dark-blue);
    margin: 0vw;
    line-height: 1.2;
    font-weight: 700;
    font-size: 1.75em;
}

.description {
    margin: 4vw 0vw;
    font-size: 0.9em;
    line-height: 1.6;
    color: var(--clr-dark-grayish-blue)
}

.price {
    margin: 4vw 6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.current {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pay {
    font-size: 1.6em;
    color: var(--clr-very-dark-blue);
    font-weight: 700;
}

.discount {
    margin: 0vw 0vw 0vw 4vw;
    padding: 1vw 2vw;
    background-color: var(--clr-pale-orange);
    border-radius: 2vw;
    color: var(--clr-orange);
    font-weight: 700;
}

.former {
    font-weight: 700;
    font-size: 1em;
    color: var(--clr-dark-grayish-blue);
    text-decoration: line-through;
}

.quantity {
    display: flex;
    flex-direction: column;
}

.counter button {
    border: none;
    background-color: inherit;
}

.counter {
    display: flex;
    flex-direction: row;
    width: 88vw;
    margin: 4vw 6vw;
    background-color: var(--clr-light-grayish-blue);
    border-radius: 2vw;
}

.minus {
    padding: 4vw 6vw;
    border-radius: 2vw;
}

.number {
    width: 57vw; 
    align-items: center;
    justify-content: center;
    padding: 4vw 0vw;
    text-align: center;
    color: var(--clr-very-dark-blue);
    font-size: 1.2em;
    font-weight: 700;
}

.plus {
    padding: 4vw 6vw;
    border-radius: 2vw;
}

.add-btn {
    background-color: var(--clr-orange);
    color: var(--clr-white);
    border: none;
    display: flex;
    flex-direction: row;
    margin: 2vw 6vw;
    border-radius: 2vw;
    justify-content: center;
    padding: 4vw 0vw;
    font-family: var(--ff);
    font-weight: 700;
    font-size: 1em;
}

.add-btn img {
    filter: brightness(100);
    margin: 0vw 4vw 0vw 0vw;
}



/* TABLET VIEW */
@media only screen and (min-width: 768px) {
body {
        height: 100vh;
        width: 100vw;
    }

    header {
        padding: 0vw;
        margin: 0vw 10vw;
        border-bottom: 1px solid var(--clr-light-grayish-blue);
        align-items: center;
    }

    .menu-btn {
        display: none;
    }

    .cart,
    .pfp {
        margin: 0vw 0.5vw;
    }

    .logo {
        margin: 0vw 4vw 0vw 0vw;
    }

    .logo img {
        width: 10vw;
        height: auto;
        padding: 3vw 0vw
    }

    /* MENU START */
    menu {
        position: relative;
        display: flex;
        backdrop-filter: brightness(1);
        width: fit-content;
        height: fit-content;
    }

    .menu-contents {
        display: flex;
        flex-direction: row;
        height: auto;
        width: auto;
    }

    menu button {
        font-weight: 400;
        color: var(--clr-dark-grayish-blue);
        font-size: 0.75em
    }

    .close-btn {
        display: none;
    }

    .menu-content {
        padding: 3vw 1vw;
        border-bottom: 0.5vw solid var(--clr-white);
        cursor: pointer;
        transition: var(--transition);
    }

    .menu-content:hover {
        color: var(--clr-very-dark-blue);
        border-bottom: 0.5vw solid var(--clr-orange);
    }

    .menu-content:focus {
        background-color: var(--clr-white);
        border-bottom: 0.5vw solid var(--clr-orange);
    }

    .menu-options {
        display: flex;
        flex-direction: row;
    }
    /* MENU END */
    .cart-number {
        position: absolute;
        font-size: 0.6em;
        width: 2vw;
        border-radius: 2vw;
        margin: -2vw 0vw 0vw 2vw;
        display: none;
    }

    .cart-pfp {
        padding: 3vw 0vw;
    }

    .cart-btn img {
        width: 2vw;
        height: auto;
    }

    .cart-btn {
        transition: var(--transition);
        cursor: pointer;
    }

    .cart-btn img:hover {
        filter: brightness(100) invert(100);
    }

    /* CART CONTENTS START*/
    .cart-contents {
        width: 30vw;
        top: 8vw;
        left: 66vw;
        border-radius: 1vw;
        height: 24vh;
        box-shadow: 0vw 1vw 3vw rgba(0, 0, 0, 0.15);
        display: none;
    }

    .show-cart {
        display: flex;
    }

    .cart-header {
        padding: 1vw 2vw;
        font-size: 1em;
        border-bottom: 1px solid var(--clr-light-grayish-blue);
        font-weight: 700;
        font-size: 0.6em;
    }

    .cart-empty {
        color: var(--clr-grayish-blue);
        font-weight: 700;
        font-size: 0.6em;
    }

    .filled .cart-empty {
        display: none;
    }

    .filled .cart-filled {
        display: flex;
    }

    .cart-filled {
        margin: 2vw;
        display: none;
    }

    .cart-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .cart-item-image {
        width: 4vw;
        height: 4vw;
        border-radius: 0.5vw;
    }

    .cart-item-text {
        margin: 0vw 1vw;
        color: var(--clr-grayish-blue);
        font-size: 0.6em;
    }

    .cart-item-header {
        margin: 1vw 0vw;
    }

    .cart-item-price {
        margin: 1vw 0vw;
    }

    .remove-btn img {
        width: 1.5vw;
        height: auto
    }

    .checkout-btn {
        padding: 1vw 0vw;
        border-radius: 0.75vw;
        margin: 0.75vw 0vw 0vw 0vw;
        align-self: bottom;
        font-size: 0.6em;
    }
    /* CART CONTENTS END */

    .show-number {
        display: block;
    }

    .pfp img {
        width: 2.6vw;
        height: 2.6vw;
    }

    .pfp button {
        border: none;
        background-color: inherit;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid var(--clr-white);
        width: 3vw;
        height: 3vw;
        display: grid;
        justify-content: center;
        place-items: center;
    } 


    .pfp button:hover {
        border: 1px solid var(--clr-orange);
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .carousel-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .carousel {
        display: flex;
        flex-direction: row;
        width: 35vw;
        height: 45vh;
        overflow-x: hidden;
        scroll-behavior: smooth;
        border-radius: 1vw;
    }

    .shoe-img {
        width: 35vw;
        height: 45vh;
        object-fit: cover;
        border-radius: 1vw;
    }

    .prev-btn, .next-btn {
        display: none;
    }

    .img-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 2vw 0vw;
        width: 35vw;
    }

    .img-btn {
        padding: 0vw;
        border: none;
        background-color: inherit;
        border-radius: 0.75vw;
        width: 7.5vw;
        height: 7.5vw;
        border-radius: 0.75vw;
        cursor: pointer;
        transition: var(--transition);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-btn:hover {
        opacity: 0.7;
    }

    .active {
        border: 2px solid var(--clr-orange);
        opacity: 0.7;
        border-radius: 0.75vw;
    }

    .img-btn img {
        width: 7vw;
        height: 7vw;
        border-radius: 0.5vw;
        object-fit: contain;
    }
    
    .major {
        width: 40vw;
        align-items: center;
        justify-content: center;
    }  

    .text {
        margin: 0vw 6vw;
    }

    .company {
        color: var(--clr-orange);
        text-transform: uppercase;
        font-size: 0.7em;
        margin: 2vw 0vw 2vw 0vw;
        letter-spacing: 0.2vw;
    }

    .name {
        font-size: 1.4em;
        margin: 1vw 0vw 0vw 0vw;
    }

    .description {
        margin: 2vw 0vw;
        font-size: 0.6em;
        line-height: 1.6;
        color: var(--clr-dark-grayish-blue)
    }

    .price {
        margin: 0vw 6vw 2vw 6vw;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }

    .current {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .pay {
        font-size: 0.8em;

    }

    .discount {
        margin: 0vw 0vw 0vw 1vw;
        padding: 0.5vw 0.5vw;
        border-radius: 0.5vw;
        font-size: 0.6em;
    }

    .former {
        display: flex;
        flex-direction: column;
        font-weight: 700;
        font-size: 0.6em;
        margin: 0.5vw 0vw 0vw 0vw;
        color: var(--clr-grayish-blue);
    }

    .quantity {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0vw 6vw;
    }

    .counter button {
        border: none;
        background-color: inherit;
    }

    .counter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 40%;
        margin: 0vw;
        border-radius: 0.5vw;
    }

    .minus {
        padding: 0.5vw 0.75vw;
        border-radius: 2vw;
        display: grid;
        place-items: center;
    }

    .number {
        width: auto;
        padding: 0.5vw 0vw;
        font-size: 0.6em;
        display: grid;
        place-items: center;
    }

    .plus {
        padding: 0.5vw 0.75vw;
        border-radius: 0.5vw;
        display: grid;
        place-items: center;
    }

    .minus img, .plus img {
        width: 1vw;
        height: auto;
    }

    .add-btn {
        margin: 0vw;
        width: 56%;
        border-radius: 0.5vw;
        justify-content: center;
        align-items: center;
        padding: 1vw 0vw;
        font-size: 0.5em;
    }

    .add-btn img {
        filter: brightness(100);
        margin: 0vw 0.5vw 0vw 0vw;
        width: 1.2vw;
        height: auto
    }

    .minus:hover, .plus:hover, .add-btn:hover, .checkout-btn:hover, .remove-btn:hover {
        cursor: pointer;
        transition: var(--transition);
        opacity: 0.7;
    }
}