@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --clr-orange: hsl(26, 100%, 55%);
    --clr-pale-orange: hsl(25, 100%, 94%);
    --clr-very-dark-blue: hsl(220, 13%, 13%);
    --clr-dark-grayish-blue: hsl(219, 9%, 45%);
    --clr-grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-lightbox-bg: rgba(0,0,0,0.75);
    --ff: 'Kumbh Sans', sans-serif;
    --transition: 0.3s all linear;
}

body {
    font-size: 16px;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--ff);
    z-index: 1;
}

html {
    scroll-behavior: smooth;
}

* {
    -webkit-tap-highlight-color: transparent;
}

button {
    cursor: pointer;
    transition: var(--transition);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6vw 4vw;
    align-items: center;
}

header button {
    border: none;
    background-color: inherit;
}

.menu-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu, .logo, .cart, .pfp {
    margin: 0vw 2vw;
}

/* MENU START */
menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    backdrop-filter: brightness(0.25);
    width: 100vw;
    height: 100vh;
    margin: 0vw;
    padding: 0vw;
    top: 0;
    left: -2vw;
    transition: var(--transition);
    display: none;
    z-index: 100;
}

.menu-contents {
    background-color: var(--clr-white);
    height: 100vh;
    width: 65vw;
}

menu button {
    border: none;
    background-color: inherit;
    font-family: var(--ff);
    font-weight: 700;
    font-size: 1.2em;
    text-align: left;
    padding: 3vw;
}

.close-btn {
    margin: 2vw 0vw 8vw 2vw;
}

.menu-content {
    padding: 3vw 0vw 3vw 6vw
}

.menu-options {
    display: flex;
    flex-direction: column;
}

.open {
    display: flex;
}
/* MENU END */

.cart-pfp {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pfp img {
    width: 6vw;
    height: auto;
}

.carousel {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 35vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.shoe-img {
    width: 100vw;
    height: 35vh;
    object-fit: cover;
}

.carousel-container button {
    position: absolute;
    background-color: var(--clr-white);
    border: none;
    border-radius: 50%;
    height: 10vw;
    width: 10vw;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.prev-btn {
    top: 50vw;
    left: 6vw;
    padding: 1vw 1vw 0vw 0vw;
}

.next-btn {
    top: 50vw;
    right: 6vw;
    padding: 1vw 0vw 0vw 1vw;
}

.text {
    margin: 0vw 6vw;
    display: flex;
    flex-direction: column;
}

.company {
    color: var(--clr-orange);
    text-transform: uppercase;
    font-size: 0.9em;
    margin: 6vw 0vw 4vw 0vw;
    font-weight: 700;
}

.name {
    color: var(--clr-very-dark-blue);
    margin: 0vw;
    line-height: 1.2;
    font-weight: 700;
    font-size: 1.75em;
}

.description {
    margin: 4vw 0vw;
    font-size: 0.9em;
    line-height: 1.6;
    color: var(
    --clr-dark-grayish-blue)
}

.price {
    margin: 4vw 6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.current {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pay {
    font-size: 1.6em;
    color: var(--clr-very-dark-blue);
    font-weight: 700;
}

.discount {
    margin: 0vw 0vw 0vw 4vw;
    padding: 1vw 2vw;
    background-color: var(--clr-pale-orange);
    border-radius: 2vw;
    color: var(--clr-orange);
    font-weight: 700;
}

.former {
    font-weight: 700;
    font-size: 1em;
    color: var(--clr-dark-grayish-blue);
    text-decoration: line-through;
}